.new-password-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: white;
}

.new-password-card {
  position: relative;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  z-index: 0;
}

.new-password-card h2 {
  text-align: center;
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.new-password-card h4 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.new-password-card label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.25rem;
  color: #051548;
}

.new-password-card input {
  width: 90%;
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  outline: none;
}

.new-password-card input:focus {
  border-color: #051548;
  box-shadow: 0 0 0 2px rgba(6, 35, 70, 0.5);
}

.new-password-card button[type="submit"] {
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  display: block;
  background-color: #040822;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.new-password-card button[type="submit"]:hover {
  background-color: #000000;
}

.new-password-card .back-link {
  text-align: center;
  margin-top: 1rem;
}

.new-password-card .back-link button {
  background: none;
  border: none;
  color: #051548;
  cursor: pointer;
  font-size: 0.9rem;
}

.new-password-card {
  position: relative;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  z-index: 0;
}

.new-password-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  width: 100%;
  background: #051548;
  border-radius: 1rem;
  z-index: 1;
  animation: fadeSlideIn 1s ease-out forwards;
}

.new-password-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 50%;
  background: linear-gradient(to bottom, #051548, transparent);
  border-radius: 1rem;
  z-index: 1;
  animation: glowFadeIn 1s ease-out forwards;
  opacity: 0;
}

.new-password-card .right-border {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 50%;
  background: linear-gradient(to bottom, #051548, transparent);
  border-radius: 1rem;
  z-index: 1;
  animation: glowFadeIn 1s ease-out forwards;
  animation-delay: 0.2s;
  opacity: 0;
}
